<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <title>Parte 1</title>
</head>
<body>
<h1>Genshin Impact </h1>
<p>Genshin impact é um jogo em que se baseia na busca de sua irmã lumine(se você escolheu o aether) ou na busca de seu irmão(se você escolheu a lumine) onde você enfrenta varios desafios, a historia ainda não foi completamente lançado mas isso não significa que o jogo foi abandonado, ele é incrivel e tem varias eventos todos os meses.<p>

<p> nesse mês oque foi preparado para nós é uma seleção de skins novas e uma nova personagem</p>


<form method="get" action="/genshin">
    <button type="submit">Novos personagens</button>
</form><br>
<form method="get" action="/genshin/personagens">
    <button type="submit">Personagens que ganharão skin no proximo patch</button>
</form>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>