<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <title>Parte 3</title>
</head>
<body>
  <h1>Skin que estarão disponiveis no proximo patch</h1>



  <form method="get" action="/">
    <button type="submit">Menu</button>
</form> <br>
<form method="get" action="/genshin">
    <button type="submit">Novos personagens</button>
</form>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>