<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <title>Parte 3</title>
</head>
<body>

<div >
  <h1>Skin que estarão disponiveis no proximo patch</h1>
<img src="/imagens/skinmc.jpg" style="width:35%;margin-left:25%"> <br> <br>
<img src="/imagens/monamc.jpg" style="width:35%;margin-left:25%">
<p class="row justify-content-center align-items-center"> Após muito pedido da comunidade finalmente eles decidiram trazer as skins tematicas de inazuma, sendo os escolhidos: Aether, Lumine e Mona.</p>

<div class="row justify-content-center align-items-center">
  <form method="get" action="/">
    <button type="submit">Menu</button>
</form>
<form method="get" action="/genshin">
    <button type="submit">Novos personagens</button>
</form>
</div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>